.p-information{
    padding-left: 20px;
}
.c-information{
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    border:2px solid gray;
    border-radius: 5px;
    padding: 10px;
}
.section h3{
    margin-left: 25px;
}
section #me{
    margin-left: 10px;

}
#about-p{
    margin-left: 20px;
}
body{
    background-color:#dbe6e6;

}
.container{
    background-color: rgb(255, 255, 255);
    width: 1000px;
    margin:20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px;
    height: 100%;
    font-family: 'Lato', sans-serif;
}

header{
    padding: 2px;
    margin-bottom: 30px;
    margin: auto;
}
header ul{
    list-style: none;
    margin: auto;
    padding: 5px;
    display: block;
    background-color: rgb(216, 234, 247);
}
#article-one{
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(216, 234, 247);
    border: solid 2px gray;
}
#article-two{
    border:2px solid gray;
    border-radius: 5px;
    width: 550px;
    margin: auto;
    padding: 5px;
    padding-bottom: 5px;
    background-color: rgb(216, 234, 247);
}
#code-explanation{
    padding-left: 60px;
}
hr{
    width: 200px;
    margin: auto;

}
ul{
    list-style: none;
}
.code{
    border: 2px solid gray;
    width: 550px;
    margin: auto;
    display: block;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: rgb(216, 234, 247);
    border-radius: 5px;
}
.work-language{
    margin-left: 50px;
}

.education h3{
    padding-left: 20px;
}
.education li{
    padding-left: 10px;
}
#github{
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

footer{
    height:150px;
    background-color: rgb(235, 206, 206);
    border-radius:5px;
    position: relative;
    line-height: 25px;
}

footer #logo{
    position: absolute;
    width: 125px;
    display:inline;
    top: 10px;
    right: 30px;
    border-radius: 20%;
}
footer #github-logo{

    position: absolute;
    float :right;
    width: 200px;
    top: 20px;
    left: 0px;
    border-radius: 20%;
}
footer #date{
    position:absolute;
    top: 95px;
    left: 450px;
    font-weight: 700;
}